/infrastructure/ui/frontend/node_modules
/infrastructure/ui/frontend/dist
*.DS_Store
/infrastructure/ui/build/bin
/infrastructure/ui/node_modules
/.cache
/.vscode
/infrastructure/presentation/ui/frontend/dist
/infrastructure/presentation/ui/frontend/node_modules
/infrastructure/presentation/ui/build/bin
